.form-field-col {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    flex: 1;
    position: relative;
}
.form-field-row-inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
.form-field-col * {
    width: 100%;
}
.form-field-row-inline .submit-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.submit-block {
    padding-top: 25px;
    text-align: center;
}
form label {
    padding-bottom: 3px;
    float: left;
}
form.login-form {
    width: 100%;
}
.login-reset-button {
    margin-left: 10px;
}

@media (max-width: 480px) {
    .form-field-col {
        flex: none;
        width: 100%;
        padding-bottom: 20px;
    }
}