.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #800080c4;
    color: white;
   
}

#homepage.btn-block{
background-color: #8f316e63;
margin-bottom: 25px;
font-weight: bold;
color: purple;
}
.home-page {
    display: flex;
    min-height: calc(100vh - 91px);
    background-color: #eee;
}
.main-body {
	margin: 0 auto;
}
.left-content {
    flex: 1;
}
.right-content {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: inherit;
    min-height: calc(100vh - 91px);
    flex-flow: row wrap;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .left-content {
        flex: 0;
    }
}